<!DOCTYPE html>
<html>
	<head>
		<title>webhook2status</title>
	</head>
	<body>
		<h1>webhook2status</h1>
		<p>webhook2status: an awesome and simple request generator to change Slack status via webhook, IFTTT and curl. / <a href="https://github.com/k5342/webhook2status" target="_blank">View on GitHub</a></p>
		<hr />
		<a href="/login">Login with Slack</a>
		<h2>Install / Usage</h2>
		<ol>
			<li><a href="/login">Login with Slack</a></li>
			<li>Get an API token through OAuth login</li>
			<li>Use the token whatever from IFTTT, curl, etc.</li>
			<li>To create API request payload including own status message, this API tester in Slack documentation is very useful</li>
		</ol>
		<h2>Grant Permission</h2>
		<p>This tool issues following permission scopes:</p>
		<ul>
			<li><code>user.profile:write</code></li>
		</ul>
		<h2>Uninstall / Revoke API access</h2>
		<p>Go to <a href="https://slack.com/apps/manage">the Slack App manage page</a> and revoke webhook2status.</p>
		<h2>Notice</h2>
		<p>This service does not store ANY sensitive data including your persistent OAuth token, password or access log.</p>
	</body>
</html>
